# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# Logs
*.log
mantra.log

# Temporary test scripts
ztest.py

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo
